


<article class="module width_full">

  <header><h3 class="tabs_involved">virtual machines</h3>

  </header>

  <div class="tab_container">
    <div id="tab1" class="tab_content">

      <table class="tablesorter" cellspacing="0" border="0">
        <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Os</th>
              <th>Ip</th>
              <th>Description</th>
              <th>Memory</th>
              <th>Cpu</th>
              <th>Hdd</th>
              <th>Hostname</th>
              <th colspan="3">Options</th>

            </tr>
        </thead>
        <tbody>
        <% @virtualmachines.each do |virtualmachine| %>
            <tr>
              <td><span style="color:green">&bullet;</span></td>
              <td><%= virtualmachine.name %></td>
              <td><%= virtualmachine.os %></td>
              <td><%= virtualmachine.ip %></td>
              <td><%= virtualmachine.description %></td>
              <td><%= virtualmachine.memory %></td>
              <td><%= virtualmachine.cpu %></td>
              <td><%= virtualmachine.hdd %></td>
              <td><%= virtualmachine.hostname %></td>
              <td><%= link_to 'Show', virtualmachine %></td>
              <td><%= link_to 'Edit', edit_virtualmachine_path(virtualmachine) %></td>
              <td><%= link_to 'Destroy', virtualmachine, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>
        <tr>
          <td colspan="11">
            <%= link_to 'New Virtualmachine', new_virtualmachine_path %>
          </td>
        </tr>
        </tbody>
      </table>


    </div><!-- end of #tab1 -->


  </div><!-- end of .tab_container -->

</article><!-- end of content manager article -->


