


<article class="module width_full">

  <header><h3 class="tabs_involved">Networks</h3>

  </header>

  <div class="tab_container">
    <div id="tab1" class="tab_content">

      <table class="tablesorter" cellspacing="0">
        <thead>
        <tr>
          <th>Ip</th>
          <th>Maske</th>
          <th>Broadcast</th>
          <th>Gateway</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @networks.each do |network| %>
            <tr>
              <td><%= network.ip %></td>
              <td>255.255.255.<%= network.maske %></td>
              <td><%= network.broadcast %></td>
              <td><%= network.gateway %></td>
              <td><%= link_to 'Show', network %></td>
              <td><%= link_to 'Edit', edit_network_path(network) %></td>
              <td><%= link_to 'Destroy', network, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>
        <tr>
          <td colspan="11">
            <%= link_to 'New Network', new_network_path %>
          </td>
        </tr>
        </tbody>
      </table>


    </div><!-- end of #tab1 -->


  </div><!-- end of .tab_container -->

</article><!-- end of content manager article -->
