<p id="notice"><%= notice %></p>



<article class="module width_full">

  <header><h3 class="tabs_involved">IP Network details</h3></header>

  <div class="module_content">

    <p>
      <b>Ip:</b>
      <%= @network.ip %>
    </p>

    <p>
      <b>Maske:</b>
      255.255.255.<%= @network.maske %>
    </p>

    <p>
      <b>Broadcast:</b>
      <%= @network.broadcast %>
    </p>

    <p>
      <b>Gateway:</b>
      <%= @network.gateway %>
    </p>


    <b>possible ip addresses</b>
    <ul>
      <% @ips.each do |ip| %>
        <li><%= ip %></li>
      <% end %>
    </ul>
  </div>

